<!doctype html>
<html lang="en">
   <style>
      :root {
         color-scheme: light dark;
      }

      html, body {
         background-color: light-dark(white, white);
      }

      @media (min-width: 1024px) {
         html, body {
            background-color: light-dark(#F0F0F0, #323232);
         }
      }
   </style>
   <head>
      {{ block "head" . }}{{ end }}

      {{- if eq .Type "post" -}}
         {{- $year := .Date.Format "2006" -}}
         {{- $month := .Date.Format "1" -}}
         {{- $day := .Date.Format "2" -}}
         {{- $id := .Params.post_id -}}
         <link rel="canonical" href="https://vandor.sx/microblog/{{ $year }}/{{ $month }}/{{ $day }}/{{ $id }}" />
         <meta http-equiv="refresh" content="0;URL='https://vandor.sx/microblog/{{ $year }}/{{ $month }}/{{ $day }}/{{ $id }}'" />
      {{- else -}}
         <link rel="canonical" href="https://vandor.sx/microblog" />
         <meta http-equiv="refresh" content="0;URL='https://vandor.sx/microblog'" />
      {{- end -}}
   </head>
   <body>
      {{ block "main" . }}{{ end }}
   </body>
</html>
