<!doctype html>
<html lang="en">
   <style>
      html, body {
         background-color: #ffffff;
      }
      @media (prefers-color-scheme: dark) {
         html, body {
            background-color: #1c1917;
         }
      }
   </style>
   <head>
      {{ block "head" . }}{{ end }}

      {{- if eq .Type "post" -}}
         {{- $year := .Date.Format "2006" -}}
         {{- $month := .Date.Format "1" -}}
         {{- $day := .Date.Format "2" -}}
         {{- $id := .Params.post_id -}}
         <link rel="canonical" href="https://inthetrees.me/microblog/{{ $year }}/{{ $month }}/{{ $day }}/{{ $id }}" />
         <meta http-equiv="refresh" content="0;URL='https://inthetrees.me/microblog/{{ $year }}/{{ $month }}/{{ $day }}/{{ $id }}'" />
      {{- else -}}
         <link rel="canonical" href="https://inthetrees.me/microblog" />
         <meta http-equiv="refresh" content="0;URL='https://inthetrees.me/microblog'" />
      {{- end -}}
   </head>
   <body>
      {{ block "main" . }}{{ end }}
   </body>
</html>
